.alice-carousel__dots {
  margin: 0;
}

.alice-carousel__dots-item:not(.__custom) {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  background-color: transparent;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
  margin-right: 10px;
}

.alice-carousel__dots-item:not(.__custom):hover {
  background-color: #e63946;
}
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #e63946;
  border: none;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}
